version: '3.8'
services:
  convexhull-visualizer-api:
    container_name: convexhull-visualizer-api
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always